<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div class="navbar navbar-default">
	<div class="top">
		<div class="navbar-header">
			<h1>Basketball Analytics</h1>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="/">Home</a></li>
			<li class="active"><a href="/teams">Teams</a></li>
			<li class="active"><a href="/stories">Rumors</a></li>
			<li class="active"><a href="/teams/stats">League Stats</a></li>
			<li class="active"><a href="/players/stats">Player Stats</a></li>
		</ul>
	</div>
</div>
</body>
</html>
